body {
    background-color: #F5E8D9;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.admin-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.add-form {
    background-color: #46271b;
    padding: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 45%;
    border-radius: 12px; 
}

.add-form h1 {
    margin-bottom: 15px;
}

.add-form h1 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.add-form label {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    text-align: left;
    margin: 5px 0;
    font-size: 14px;
    color: #eae0ce;
}

.add-form input {
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 3px solid #eae0ce;
    background-color: #eae0ce;
    color: #46271b;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    border-radius: 8px; 
}

.add-form input:focus {
    border: 3px solid #e0b413;
}

.add-form input[type="file"] {
    border: none;
    background-color: transparent;
}

.btn-success {
    font-family: 'Times New Roman', Times, serif;
    background-color: #eae0ce;
    color: #46271b;
    padding: 10px 16px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    border-radius: 10px; 
}

.btn-success:hover {
    background-color: #13e035;
    color: white
}

.product-list {
    font-family: 'Times New Roman', Times, serif;
    width: 45%;
    padding: 20px;
    background-color: #46271b;
    color: #000000;
    height: 500px;
    overflow-y: auto;
    border-radius: 12px; 
}

h2{
    color: #eae0ce;
}

.product-item {
    background-color: #eae0ce;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #46271b;
    border-radius: 8px; 
}

.product-item h3 {
    margin: 0;
}

.product-item p {
    margin: 5px 0;
}

.btn-danger {
    font-family: 'Times New Roman', Times, serif;
    background-color: #eae0ce;
    color: #ae201b;
    padding: 8px 14px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px; 
}

.btn-danger:hover {
    background-color: #ae201b;
    color: white
}
