
body {
    font-family: Arial, sans-serif;
    background-color: #eae0ce;
    padding: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    box-sizing: border-box;
}


.checkout-container {
    max-width: 600px; 
    width: 100%; 
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto; 
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.checkout-container h2 {
    font-size: 24px; 
    font-family: 'Times New Roman', Times, serif;
    color: #46271b;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


input[type="text"], input[type="number"], select {
    padding: 10px;
    border: 2px solid #46271b;
    border-radius: 5px;
    font-size: 14px; 
    color: #46271b;
    transition: border-color 0.3s ease;
    width: 100%; 
}


input[type="text"]:focus, input[type="number"]:focus, select:focus {
    border-color: #20120d;
    outline: none;
}


button[type="submit"] {
    padding: 12px 20px;
    background-color: #46271b;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; 
}


button[type="submit"]:hover {
    background-color: #20120d;
}


footer {
    background-color: #46271b;
    border-radius: 30px;
    margin-top: auto;
    padding: 20px;
    text-align: center;
    color: white;
}
