{% extends 'base.html' %}

{% block title %} About Us {% endblock %}

{% block about %}

<div class="about-container">
    <div class="about-content">
        <h1>About Us</h1>
        <p>
           A&K is the best restaurant, where the love between our founders, A and K, fills every dish with heart! In addition, our unique meow-pizza designs are crafted with care, creating the most unforgettable meals of your life!
        </p>
        <p>
            Your satisfaction and full stomach is our priority! Join us for a delightful meal with family and friends.
        </p>
    </div>

    <div class="about-image">
        <img src="{{ url_for('static', filename='images/about_us_pic.png') }}" alt="Restaurant Image">
    </div>
   
</div>

{% endblock %}