{% extends 'base.html' %}

{% block title %} About Us {% endblock %}

{% block body %}
<div class="about-container">
    <div class="about-content">
        <h1>About Us</h1>
        <p>
            Welcome to the Best Restaurant! We are happy to see you on our web page. Here you can purchase our delicious food and we will handle your order!
        </p>
        <p>
            Our team is passionate about creating memorable dining experiences. Join us for a delightful meal with family and friends.
        </p>
    </div>
    <div class="about-image">
        <img src="{{ url_for('static', filename='images/about us pic.jpg') }}" alt="Restaurant Image">
    </div>
</div>
{% endblock %}